.title {
    text-transform: uppercase;
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.uploads,
.login {
    background-color: transparent;
    border-radius: 0;
    width: fit-content;
    border: 1px solid #000;
    padding: 7px 30px;
}
.login{
    margin-top: 80vh;
}

.uploads a,
.login a {
    text-decoration: none;
    color: #000;
}

.uploads a:hover,
.login a:hover{
        color: #fff;
} 

.uploads:hover,
.login:hover {
    background-color: #000;

}